.dashboard__container {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 25rem;
    height: 3rem;
    padding-left: .8rem;
    background-color: #dddddd;
    border-radius: 1.3rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

input::placeholder {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.308);
}