.nav {
    height: 8rem;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: .3rem .2rem .3rem .1rem rgba(0,0,0, .10);

}

.nav__list {
    display: flex;
    justify-content: flex-end;
}

.nav__list a {
    margin-right: 10rem;
    padding: .8rem 1.2rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #79cc94;
    border-radius: .8rem;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    background-color: #3b8854;
    font-weight: 700;
}

/* Modal Button Styling */

.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
  }
  
  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }